<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66E752CA1E42C6A00023B2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E752DE1E42C6A10023B2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E752E91E42C6A10023B2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
